com.infosupport.afstuderen.opleidingsplan.agent/coursexsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InfoSupport.Trainingen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CourseXSD">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Code"/>
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="xs:string" name="SupplierCode" nillable="true"/>
        <xs:element type="xs:string" name="SupplierName"/>
        <xs:element type="xs:string" name="Active"/>
        <xs:element type="xs:long" name="CourseId"/>
        <xs:element name="CourseImplementations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CourseImplementation" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Days">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:dateTime" name="DateTime" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:long" name="Id"/>
                    <xs:element type="xs:string" name="Language"/>
                    <xs:element type="xs:string" name="Location"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="DateCreated"/>
        <xs:element type="xs:string" name="Description"/>
        <xs:element type="xs:string" name="Duration"/>
        <xs:element type="xs:string" name="FollowUpCourses" nillable="true"/>
        <xs:element type="xs:string" name="Material"/>
        <xs:element type="xs:string" name="PrerequisiteCourses" nillable="true"/>
        <xs:element type="xs:string" name="Prerequisites"/>
        <xs:element type="xs:decimal" name="Price"/>
        <xs:element name="RelatedCourses">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CourseSummary" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Code"/>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:string" name="SupplierCode" nillable="true"/>
                    <xs:element type="xs:string" name="SupplierName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="ShortDescription"/>
        <xs:element type="xs:string" name="Status"/>
        <xs:element type="xs:string" name="Subjects"/>
        <xs:element type="xs:string" name="Type" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>